[alias]
	s = status -s
	ca = !git add -A && git commit -av

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[user]
	email = nelson@bennu.cl
	name = Nelson
[github]
	user = bugbuilder
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
