[alias]
	s = status -s
	ca = !git add -A && git commit -av
	l = !git lg-fmt
	h = !git lg-fmt --full-history --all

	lg-fmt = log --graph --format=format:'%C(green)%h%C(reset) %C(cyan)(%ad)%C(reset) %C(white)%s%C(reset) %C(dim white) <%an>%C(reset)%C(auto)%d%C(reset)' --date=format:'%Y-%m-%d %H:%M:%S'
	
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[user]
	email = nelson@bennu.cl
	name = bugbuilder

[core]
	excludesfile = ~/.gitignore_global
	editor = vim
